@model DrinksAndSnacks.Models.Orders;
<div class="container-fluid mt-1 px-1">
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-dark mb-3">
                <div class="card-header text-dark" style="background-color:goldenrod; color:black; font-weight:300">Find your Order</div>
                <div class="card-body bg-dark">
                    <form asp-controller="FindOrder" asp-action="Find_Order" method="get">
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <select class="custom-select mr-sm-2 form-control" name="OrderId" asp-for="OrderId"
                                        asp-items="(IEnumerable<SelectListItem>)ViewBag.OrderIds">
                                    <option value="">--Choose your Order Id--</option>

                                </select>


                            </div>

                        </div>



                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" name="submit_Order">Find Order</button>
                        </div>



                        <p>
                            <div class="col-sm-2">

                                <button type="reset" class="btn btn-danger">Cancel Order</button>
                            </div>



                    </form>

                </div>
            </div>
        </div>
    </div>

</div>               <!--   Show confirmation message if done correctly  -->

@{
    if ((ViewBag.Success != null) && ((int)ViewBag.Success != 0))
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-success mb-3">
                    <div class="card-header bg-success text-white">Order Found</div>
                </div>
            </div>
        </div>

    }
}

