<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"] - DrinksAndSnacks</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}

    </style>
</head>

<body class="w3-black">
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa fa-home w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 800">HOME</p>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="Products" asp-action="Index">
            <i class="	fa fa-cutlery w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 700">VIEW PRODUCTS</p>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="Orders" asp-action="Index">
            <i class="fa fa-sort-amount-desc w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 700">VIEW ORDERS</p>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="Orders" asp-action="Index">
            <i class="fa fa-shopping-basket w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 700">BASKET</p>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="CreateOrder" asp-action="Index">
            <i class="fa fa-pencil w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 700">CREATE AN ORDER</p>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="Orders" asp-action="Index">
            <i class="fa fa-trash w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 700">CANCEL ORDER</p>
        </a>
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="FindOrder" asp-action="Index">
            <i class="fa fa-pencil w3-xxlarge"></i>
            <p style="font-family:sans-serif; font-weight: 700">FIND YOUR ORDER</p>
        </a>

    </nav>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted  bg-dark ">
        <div class="container  text-light">
            &copy; 2019 - DrinksAndSnacks - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
